/build/
/MyServlet/nbproject/private/
/src/MyServlet/nbproject/private/
/src/com/MyServlet/nbproject/private/
/HelloWorldServlet/nbproject/private/
/HelloWorldServlet/build/
/dist/
/HibernateProject/nbproject/private/
/HibernateProject/build/
/MathServletAPC/nbproject/private/
/WebApplication1/nbproject/private/
/AppControlPattern/nbproject/private/